* {
    background: #F8FAFC;
    font-family: Lato;
    font-style: 
  }

  .containers nav a {
    margin: 0 10px;
    padding: 20px;
    border-radius: 90px;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    background: #3182CE;
    flex: display;
    align-content: center;
  }
  .navigation {
    flex: display;
    flex-direction: row;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 12px;
    color: #3182CE;
}
.left-column {
    flex: display;
    border: 2px red solid;
    margin: 40%;
    flex-direction: row;

}
.right-column {
    flex: display;
    border: 2px blue solid;
    margin: 40%;
    flex-direction: row;
}
.middle-column {
    flex: display;
    border: 2px violet solid;
    margin: 40%;
}
  .create-account {
    color: #22292F;
    font-size: 16px;
    display: flex;
    padding: 20px;
    margin: 20%;
    flex-direction: column;
    justify-content: space-between;
    border: 2px black solid;
  }

  .form-field {
    display: flex;
  }
  .button {
      background-color: #3182CE;
      color: #F8FAFC;
      display: flex;
      align-items: right;
      text-align: center;
      width: 3rem;
      height: 2rem;
  }